:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 148, 10);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 148, 10, 0.5);
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
  text-decoration: none;
}

.footer {
  background: var(--mainBrown);
}

.menu {
  background: var(--mainGrey);
}
